
header{
    /* width:1200px; */
    text-align: center;
    background-image: url('pictures/terrace.jpg') ;
    background-color: black;

    border: 6px, blue;
    border-style: solid;

}
header.page-header {
    background: no-repeat left/cover url('pictures/terrace.jpg' );
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

p{
    margin: 10px 0;
    padding: 5px;
    /* border: 1px solid #999; */
 font-size: 1.2em;
 color: rgb(3, 56, 10);
}
.homenav{
    display: inline;
    color:white;
    margin-right: 20%;
    padding: 10px;

}
h1{
    display: inline;
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 10px;

}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
}
h3 {
   
    text-align: center;
    /* font-family: monospace; */
}
.construction {
    font-size: 20px;
    text-align: center;
    color: red;
}


.farmmenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
}
li{
    margin-bottom: 15px;
}

.farmexplore{
    width: 300px;
    font-size: larger;
    /* border: 8px, blue; */
    border-style: solid;
    display: inline-block;
    margin-left: 200px;
}

.main-picture{
    width: 300px;
    /* height: 300px; */
    /* margin-left: 50px; */
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}
img{
    max-width: 100%; /* of owner?*/
    /* align-items: center; */
}
.bigpicture {
    width: 500px;
    margin: 20px;
    border: 1px, solid, black;
 }

.fit-picture {
    width: 300px;
    margin: 20px;
    border: 1px, solid, black;
 }

button{
    background-color: lightcoral;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    color:blue;
    text-align: center;
}

.card {
    width: 210px;
    /* height: 250px; */
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    /* box-sizing: border-box; */
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
}
.divider{
    height: 20px;
    margin-top: 30px;
    /* color: rgb(3, 56, 10); */
    background-color: rgb(3, 56, 10);
}

