h1{
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 10px;

}
.construction {
    font-size: 20px;
    text-align: center;
    color: red;
}
}
h2 {
text-align: center;
}

.fit-picture {
    width: 300px;
}

button{
    background-color: lightcoral;
}

