
html {
    scroll-padding-top: 6rem;
  }

 
  
header{
    text-align: center;
    background-image: url('pictures/terrace.jpg') ;
    background-color: black;

    border: 2px rgb(3, 56, 10);
    border-style: solid;
    position: sticky;
    top: 0;
}

header.page-header {
    background: no-repeat left/cover url('pictures/terrace.jpg' );
    display: flex;
    height: 4rem;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    
}

p{
    margin: 10px 0;
    padding: 5px;
    font-size: 1.2em;
    color: rgb(3, 56, 10);
}

.homenav{
    display: inline;
    color:white;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 100;
    font-size: large;
    margin-right: 20%;
    padding: 10px;

}

h1{
    display: inline;
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 10px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    /* font-family: monospace; */
    font-family: Montserrat, sans-serif;
    /* font-family: 'Cookie', cursive; */
    font-weight: 600;
}

h3 {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}
h4 {
    font-family: monospace;
    font-size: large;
}

#links{
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}
.construction {
    font-size: 20px;
    text-align: center;
    color: red;
}

abbr{
    font-style: italic;
    font-weight: 100;
}

.farmmenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
}

li{
    margin-bottom: 15px;
}

.farmexplore{
    width: 300px;
    font-size: larger;
    /* border: 8px, blue; */
    border-style: solid;
    display: inline-block;
    margin-left: 200px;
}

.main-picture{
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}
.main-picture img{
    width: 300px;
}

img{
    /* max-width: 100%; of owner? */
   width: 400px;
  }

.bigpicture {
   
    text-align: center;
    margin: auto;
 }
 .bigpicture img {
 width: 600px;
 }

.fit-picture {
    width: 300px;
    margin: 20px;
    
 }
 .pano-picture{
     width:600px;
     text-align: center;
    margin: auto;
    
    border: 2px solid black;
    padding: 2px;
 }

 div.centeredpix {
    width: 400px;
    text-align: center;
    margin: auto;
    
    border: 2px solid black;
    padding: 2px;
}
 

button{
    background-color: lightcoral;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

    

.gallery__img:active {
    /* transform-origin: 0 0; */
    transform: rotate3d(0, 0.5, 0, 180deg);
    /* display: block; */
    /* content: "This is info on the black swallowtail"; */
}


figcaption {
    color:blue;
    text-align: center;
}

.bedexample{
    margin:auto
}

.card {
    width: 210px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    /* box-sizing: border-box; */
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
}
.card img{
    max-width: 100%;
}

.divider{
    height: 10px;
    margin-top: 30px;
    /* color: rgb(3, 56, 10); */
    background-color: rgb(3, 56, 10);
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}


aside > p {
    margin: 0.5rem;
    font-family: 'Cookie', cursive;
    font-weight: 400;
    font-size: 1.0rem;
}